@media (color) {
  ::selection { background: darkviolet; color: skyblue }
  .snot a { color: inherit }
  .snot { background-color: skyblue; color: #0e0e0e }
}

:any-link {
  text-decoration-style: wavy;
  border-radius: 100%;
}

:focus {
  filter: hue-rotate(120deg);
  outline-color: currentColor;
  outline-offset: .2ex;
  outline-style: dotted;
  outline-width: .8ex;
}

html {
  font-family: sans-serif;
  font-size: max(3ch, 3vmax);
}

body {
  line-height: 1.6;
  padding: 1em;
  display: flex;
  flex-flow: column;
  margin: auto;
}

samp {
  display: flow-root;
  margin: 1em;
}

article {
  box-sizing: border-box;
  padding: 1rem;
}

@media (orientation: portrait) {
  article {
    writing-mode: vertical-lr;
  }
}
